header nav a{
	color: black;
	text-decoration: none;
	text-align: center;
}

footer nav a{
	color: black;
	text-decoration: none;
	text-align: center;
}

footer nav ul{
	list-style-position: inside;
}
