.Producto{
	background-color: #FAFAFA;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

.Producto div{
	display: flex;
	flex-flow: column;
	flex-grow: 3;
}

.Producto img{
	height: 200px;
	width: 200px;
	border-radius: 10px;
}
