*{
  font-family: sans-serif;
}

body{
  display: flex;
  flex-flow: column wrap;

}

main{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

main > aside{
  display: flex;
  flex-direction: column;
  flex-flow: nowrap;
  align-self: stretch;
}

main aside ul{
  background-color: #8A949B;
	color: #243743;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  list-style-position: inside;
  padding: 0px;
}

main aside li{
  padding: 10px, 0px;
  display: flex;
  align-items: stretch;
}

main aside li a{
  display: block;
  width: 50;
  color: #243743;
  text-decoration: none;
}

main aside li a:hover{
  background-color: #0096FF;
}
