header{
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
}

header > section{
	display: flex;
	flex-flow: nowrap;
	flex-direction: row;
	justify-content: space-between;
}

.LoginRegistro{
	display: flex;
	flex-flow: column;
	align-self: stretch;
	justify-content: center;
}

.LoginRegistro a{
	color: black;
	padding-bottom: 5px;
	text-decoration: none;
	align-self: center;
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	list-style-position: inside;
	/*position: fixed;*/
	overflow: auto;
}

nav li a{
	width: 120px;
	text-decoration: none;
	text-align: center;
	flex-flow: nowrap;
	align-self: stretch;
	padding: 20px, 0px;
}

header nav{
	background-color: #28B78D;
}

header nav ul{
	/*background-color: #28B78D;*/
	display: flex;
	flex-flow: nowrap;
	justify-content: space-around;
	align-items: center;
}

header nav ul li{
	display: flex;
	align-items: center;
	align-self: stretch;
}

header nav ul li a{
	flex-grow: 1;
	background-color: #28B78D;
	color: #FAFAFA;
	font-size: 18px;
	/*margin: 4px;*/
	align-self: center;
}

header nav ul li a:hover{
	background-color: #8A949B;
	color: #243743;
}

footer nav ul{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8A949B;
}

footer nav ul li a{
	background-color: #8A949B;
	color: #243743;
	font-size: 12px;
	display: block;
	flex-grow: 1;
}
