header{
	/*display: flex;*/
	/*position: fixed;*/
	/*background-color: green;*/
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	list-style-position: inside;
	/*position: fixed;*/
	overflow: auto;
}

nav li a{
	width: 120px;
	text-decoration: none;
	text-align: center;
}

.MenuPrincipal ul{
	background-color: #28B78D;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.ItemMenuP{
	display: block;
	flex-grow: 1;
	background-color: #28B78D;
	color: #FAFAFA;
	font-size: 18px;
	/*margin: 4px;*/
	align-self: stretch;
}

.ItemMenuP:hover{
	background-color: #8A949B;
	color: #243743;
	align-self: stretch;
}

.MenuFooter ul{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8A949B;
}

.ItemMenuF{
	background-color: #8A949B;
	color: #243743;
	font-size: 12px;
	display: block;
	flex-grow: 1;
}
